<div class="container" align="center">
  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>

    <h2 class="form-signin-heading">Please sign in</h2>
    <%= form_tag analyze_path, :method => :post, :class => 'form-inline', :role => 'form' do %>
      <div class="form-group">
      	<%= text_field_tag :search, nil, :class => 'form-control input-lg', :placeholder => '@obama' %>
    	</div>
	    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
    <% end %>
    </div>
  </div>
</div> 